<% if @vendor.user_id == current_user.id %>
<div class="container">
<div align="right">
<%= link_to 'Edit Vendor',edit_vendor_path(@vendor) , class:"btn "%>
<%= link_to 'Vendor Menu',vendor_products_path(@vendor) , class:"btn "%>
<%= link_to 'User Dashboard',edit_user_path(current_user) , class:"btn "%>
</div>
</div>
<% end %>
<hr>
<h1>My FoodTruck</h1>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-4">

<%= image_tag(@vendor.featured_image , size: 200) if @vendor.featured_image.attached?%>
</div>
<div class="col-sm-4">
  <h3><%= @vendor.name %></h3><br>
  <%= @vendor.tagline %><br>
  <%= @vendor.description %><br>
  <%= link_to 'Show More', vendor_path(@vendor) %>
</div>
</div>
</div>