<div class="card" style="width: 30rem;">
<div class='nested-fields'>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.check_box :allow_multiple %>
  <%= f.label :allow_multiple %>
</div>
<%= link_to_remove_association "remove choice", f ,class:"btn btn-primary" %>
<br>
<br>

<div class="options">
 <%= f.fields_for :options do |option| %>
   <%= render 'option_fields', :f => option %>
 <% end %>
 </div>
 <br>
 <%= link_to_add_association 'add option', f, :options , class: 'btn btn-primary', data:
 { association_insertion_node: '.options' , association_insertion_method: :append } %>
 <br>
</div>
</div>  
<br>
