<center>

<div class='nested-fields'>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :cost_in_dollars %>
  <%= f.text_field :cost_in_dollars %>
</div>
<%= link_to_remove_association "remove option", f ,class:"btn btn-primary" %>
<br>
<br>
</div>
</center>
