<div class='content'>
<div class='page-inner hasButton'>
<div class='page-header'>
<h4 class='page-title'>Add Menu Item</h4>

</div>
</div>
</div>
<div align="right">
<%= link_to 'Back to menu',vendor_products_path, class:"btn btn-primary"%><br>
</div>
</div>
<div class='page-inner'>

<%= form_with(model: [ @vendor, @vendor.products.build ], local: true) do |f| %> 

<ul class="nav nav-tabs nav-line nav-color-primary bb-0",role="tablist" >
<li class="nav-item" >
<%= f.radio_button :is_catering, false %> Regular
</li>
&nbsp&nbsp&nbsp&nbsp
<li class="nav-item">
<%= f.radio_button :is_catering, true %> Catering
</li>
</ul>
  <div class="field"><%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>

  <div class="field"><%= f.label :cost_in_dollars %><br />
  <span class="input-group-addon"><i class="glyphicon glyphicon-doller"></i></span>
  <%= f.text_field :cost_in_dollars %>
  </div>

  <div class="field"><%= f.label :description %><br />
      <%= f.text_area :description %>
  </div> 

  <div class="field"><%= f.label :menu_Category %><br />
  <%= f.select :menu_category, menu_category, :prompt => 'Select One' %><br />
  </div>
  
  <div class="field"><%= f.label :item_tags %><br />
  <%= f.text_field :item_tags %>
  </div>

  <div class="field"><br />
  <%= f.check_box :availability, {}, true, false %>
  <%= f.label :availability %>
 </div>
  
  <div class="field">
  <%= f.check_box :popular, {}, true, false %>
  <%= f.label :is_Popular? %>
 </div>

 <div class="field"><%= f.label :item_image %><br />
 <%= f.file_field :item_image ,id: "image-upload"  %>
</div>
<img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
 
  <hr>
  <h3>Choices (1 to 10)</h3>
    
  <div class="choices">
  <%= f.fields_for :choices do |choice| %>
 <%= render 'choice_fields', :f => choice %>
  <% end %>
 </div>

      
  <div class="actions">
    <%= f.submit "Register" ,class:"btn btn-primary"%>
    <%= link_to_add_association 'add choice', f, :choices , class: 'btn btn-primary', data:
    { association_insertion_node: '.choices' , association_insertion_method: :append } %>
  </div>
<% end %>

<style>
input[type="radio"]:checked{
    visibility:hidden;
}
</style>