<div class="bg-danger">
<div class="container-fluid">
<div class="navbar-header">
  <div class="logo" align="left">
    <a href="\">
    <%= image_tag("logos/logo.png")%>
    </div>
  </a>
  <div align="right">
    <% if user_signed_in? %>
      <%= link_to 'Profile' , edit_user_registration_path , class: 'btn btn-default' %>
      <%= link_to 'Logout' , destroy_user_session_path , method: :delete ,class: 'btn btn-default' %>
    <% else %>
      <%= link_to 'Sign in' , new_user_session_path , class: 'btn btn-default' %>
      <%= link_to 'Sign up' , new_user_registration_path , class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
</div>
</div>