<!DOCTYPE html>
<html>
  <head>
    <title>DevisePro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'product' %>
    <%= javascript_pack_tag 'autocomplete-rails.js' %>

  </head>

  <body>
<b class="notice"><%= notice %></b>
<b class="alert"><%= alert %></b>
<% if user_signed_in? %>
           <li>
            Logged in as <strong><%= current_user.name %></strong>
          </li>   
      <ul class="nav nav-tabs">
          <li class="nav-item" >
            <%= link_to 'Edit profile', edit_user_path(current_user), :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
          <%= link_to "Become Vendor?", new_vendor_path(current_user), :class => 'nav-link'  %>
          </li>
          
      <% else %>
          <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
      <% end %>
</ul>

    <%= yield %>
  </body>
</html>